<div class='character-selection text-center'>
    <h2>Choose a character!</h2>
    <div class='row portraits portrait-container' style='text-align: center'>
        {{#each characters}}
        <span class='character-portrait glyphicons glyphicons-{{icon}}' /> {{/each}}
    </div>

    <h3 class='character-name'>Name</h3>
    <input class='character-name-input' type='text' placeholder='Select a character' />
    <p class='character-description'></p>
    <h3>Stats</h3>
    <div class='stats-container'>
        <br/><strong>Skills </strong><span class='skills'></span>
        <br/><strong>Brains </strong><span class='brains'></span>
        <br/><strong>Brawn </strong><span class='brawn'></span>
        <br/><strong>Light </strong><span class='light'></span>
    </div>
    <br/>
    <button class='character-select-button centered btn btn-primary'>Select</button>
</div>