    <style type='text/css'>
        .spell-container {
            background-color: transparent;
            left: 0;
            width: 100%;
            overflow-x: auto;
            bottom: 0;
            height: 100px;
            position: fixed;
            text-align: center;
        }
        
        .spell-container .spell {
            display: inline;
            text-align: center;
            width: 90px;
            height: 90px;
            margin: 0 10px 0 10px;
            padding: 0;
            font-size: 40px;
            color: white;
        }
    </style>

<div class='spell-container'>
    
    
</div>